#weather
    padding: 100px 0
    .box
        width: 230px
        height: 380px
        border: 1px solid #9c6644
        border-radius: 20px
        background-color: #9c6644
        color: #ffffff
        h1,h2
            font-size: 23px
            margin: 20px 0
        input
            border-radius: 20px
            padding: 8px
            width: 140px
        #btn
            border-radius: 20px
            background-color: #f8c471
            padding: 10px 20px
            margin: 20px 65px

    @media screen and ( min-width: 768px )
        .box
            width: 340px
            height: 500px
            #btn
                margin: 20px 120px
